.title {
    font-family: Inter Semibold,Helvetica,Arial, sans-serif;
    font-size: 26px;
}

/* Style for small devices (tablets) */
@media (min-width: 576px) {
    .title {
        font-family: Inter Semibold,Helvetica,Arial, sans-serif;
        font-size: 50px; /* Adjust width for small devices */
    }
}

/* Style for medium devices (desktops) */
@media (min-width: 768px) {
    .title {
        font-family: Inter Semibold,Helvetica,Arial, sans-serif;
        font-size: 56px;/* Adjust width for medium devices */
    }
}

/* Style for large devices (large desktops) */
@media (min-width: 992px) {
    .title {
        font-family: Inter Semibold,Helvetica,Arial, sans-serif;
        font-size: 56px; /* Adjust width for large devices */
    }
}
.subtitle {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #24282d;
}
h2 {
    font-family: Inter Semibold,Helvetica,Arial, sans-serif;
}
.iphone {
    filter: hue-rotate(45deg)  saturate(110%);
}
.dark .iphone {
    filter: invert(90%);
}

.sbt-button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: rgba(131, 71, 229, 0.5);
    color: white;
    border-color: rgba(131, 71, 229, 0.5);
}

.sbt-button:hover{
    background-color: white;
    color: #8347e5!important;
    border-color: #8347e5!important;
}
.contact-button {
    width: 200px;
}
.contact-button:hover {
    background-color: rgba(131, 71, 229, 0.5) !important;
    color: white!important;
    border-color: rgba(131, 71, 229, 0.5) !important;
}

.sbm-btn {
    background-color: rgba(131, 71, 229, 0.5);
    color: white;
    border-color: rgba(131, 71, 229, 0.5);
}

.swe-img {
    filter: hue-rotate(55deg);
}

.adv-img {
    filter: hue-rotate(45deg)  saturate(110%);
}

.card-description {
color: #696969
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}

.card-title-shine {
    color: transparent;
    background: linear-gradient(90deg, rgba(131, 71, 229, 0.8) 0%, rgba(150, 148, 148, 0.52) 50%, rgba(18, 185, 154, 0.7) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 8s linear infinite;
}
.carousel-item {
    margin-left: 10px;
    margin-right: 10px;
}

.dlab-icon-footer {
    filter: grayscale(100%) opacity(60%);
}

body {
    margin: 0px!important;
}

.spinner {
    display: flex;
    justify-content: center; /* Adjust if needed */
    align-items: center; /* Adjust if needed */
    flex-wrap: nowrap; /* Prevents wrapping to the next line */
}

@media (min-width: 768px){
    .suppliers {
        margin-top: -17px;
    }
}

@media (min-width: 768px){
    .adv-img {
        margin-top: -17px;
    }
}

@media (max-width: 768px) {
    .adv-img {
        max-width: 220px;
    }
}

@media (min-width: 768px){
    .successful-campaigns-sub {
        margin-top: -50px;
    }
}

.dark main {
    background-color: #645f5f;
}

.dark .d_lab {
    filter:invert(75%);
}

.dark .title, .dark .subtitle {
    color: aliceblue;
}

.dark #imprint, .dark footer {
    background-color: #424141;
}

.dark .dlab-icon-footer {
    filter:invert(75%);
}

.dark .ant-card-body {
    background-color: #424141;
}

.dark .ant-card-meta-title, .dark .ant-card-meta-description, .dark .card-description {
    color: whitesmoke;
}

.dark .ant-menu-item-only-child {
    color: #efefef;
}

.dark .ant-avatar {
    filter: invert(90%);
}

.dark .ant-divider {
    color: whitesmoke;
    background-color: whitesmoke;
}

.dark .adv-img, .dark .suppliers {
    filter: invert(90%);
}

.ant-switch-checked {
    background-color: rgba(210, 137, 253, 0.73) !important;
}

.dark .ant-modal-content {
    background-color: #4b4a4a !important;
}

.dark .ant-form-item label {
    color: whitesmoke!important;
}


/* Mobile and small screens (less than 768px) */
@media only screen and (max-width: 767px), screen and (orientation: landscape) {
    .hamburger-button {
        display: inline-block; /* Show the hamburger button */
    }
    .desktop-menu {
        display: none; /* Hide the desktop menu */
    }
    .contact-switch-xs {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact-switch-container {
        display: none; /* Show and adjust the contact-switch container for larger screens */
    }
}

/* Larger screens */
@media only screen and (min-width: 768px) {
    .hamburger-button {
        display: none; /* Hide the hamburger button */
    }
    .desktop-menu {
        display: block; /* Show the desktop menu */
    }
    .contact-switch-container {
        display: flex; /* Show and adjust the contact-switch container for larger screens */
    }
    .contact-switch-xs {
        display: none; /* Hide the contact-switch for xs screens in landscape mode */
    }
}

@media only screen and (max-width: 820px) {
    .iphone {
       max-width: 300px;
    }
}

@media only screen and (max-width: 280px) {
    .d_lab {
        display: none;
    }
}
