.title {
    font-family: Inter Semibold,Helvetica,Arial, sans-serif;
    font-size: 56px;
}
.subtitle {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #24282d;
}
h2 {
    font-family: Inter Semibold,Helvetica,Arial, sans-serif;
}
.iphone {
    filter: hue-rotate(45deg)  saturate(110%);
}

.sbt-button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: rgba(131, 71, 229, 0.5);
    color: white;
    border-color: rgba(131, 71, 229, 0.5);
}

.sbt-button:hover{
    background-color: white;
    color: #8347e5!important;
    border-color: #8347e5!important;
}
.contact-button {
    width: 200px;
}
.contact-button:hover {
    background-color: rgba(131, 71, 229, 0.5) !important;
    color: white!important;
    border-color: rgba(131, 71, 229, 0.5) !important;
}

.sbm-btn {
    background-color: rgba(131, 71, 229, 0.5);
    color: white;
    border-color: rgba(131, 71, 229, 0.5);
}

.swe-img {
    filter: hue-rotate(55deg);
}

.adv-img {
    filter: hue-rotate(45deg)  saturate(110%);
}

.card-description {
color: #696969
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}

.card-title-shine {
    color: transparent;
    background: linear-gradient(90deg, rgba(131, 71, 229, 0.8) 0%, rgba(150, 148, 148, 0.52) 50%, rgba(18, 185, 154, 0.7) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 8s linear infinite;
}
.carousel-item {
    margin-left: 10px;
    margin-right: 10px;
}

